<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/" style="font-weight: 500;">Covid19</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" *ngIf="!auth.isLoggedIn">
        <a class="nav-link waves-light" routerLink="/login" mdbWavesEffect>Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn">
        <a class="nav-link waves-light" routerLink="/register" mdbWavesEffect>Register</a>
      </li>  
      <li class="nav-item" *ngIf="auth.isLoggedIn">
        <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Favourites</a>
      </li> 
      <li class="nav-item" *ngIf="auth.isLoggedIn">
        <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Logout</a>
      </li> 
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

