<app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-md-8 col-lg-12">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row no-gutter">
                  <div class="col-md-9 col-lg-6 ">

                    <span *ngIf="errorMsg">
                      <ngb-alert type="danger" [dismissible]="false">
                          {{errorMsg}}
                      </ngb-alert>
                    </span>

                    <form [formGroup]="LoginForm">
                      <div class="form-label-group">
                        <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                      </div>
                      <!-- username error handling (interactive) and (on submit)  -->
                    <div *ngIf="(LoginForm.controls.email.errors && LoginForm.controls.email.touched) || (emailError && !LoginForm.controls.email.touched)">
                      <div *ngIf="LoginForm.controls.email.errors.required" class="text-light my-2" role="alert">
                          * this field is required !
                      </div>
                    </div>
      
                      <div class="form-label-group">
                        <input type="password" formControlName="username" id="inputPassword" class="form-control" placeholder="Password" required>
                      </div>
                      <!-- password error handling (interactive) and (on submit) -->
                      <div *ngIf="(LoginForm.controls.password.errors && LoginForm.controls.password.touched) || (passwordError && !LoginForm.controls.password.touched)">
                        <div *ngIf="LoginForm.controls.password.errors.required" class="text-light my-2" role="alert">
                            * this field is required !
                        </div>
                      </div>
      
                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                      <div class="text-center">
                        <a class="small" routerLink="/register">Don't have an account?</a></div>
                    </form>
                  </div>
                  <div class="col-md-9 col-lg-6 side-block"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      